.modal{
    .modal-dialog{
        .modal-content{
            height: 100%;
            width: 100%;
            padding: 2vw;
            .title{
                font-size: 24px;
            }
        }
    }
}