
.pagination{
    color: #222222;
    font-size: 12px;
    margin: 20px auto;
    width: 30%;
    @media screen and (max-width: 576px) {
        width: 80%;
    }
    @media screen and (max-width: 768px) {
        width: 40%;
    }
    .active{
        border-radius: 50%;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        color: #1B1464;
        background: #49D3FF 0% 0% no-repeat padding-box;
    }
}